@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

:root {
  font-family: 'Fredoka', 'Tahoma';
}

html, body {
  height: 100%;
  width: 100%;
}

.mylogo {color: #126755;
         text-align: center;   
            }

/* navigation bar CSS: vertical and horizontal */
/* the ul selector relevant for both nav bars */

ul {list-style-type: none;
  margin: 0;
  padding: 0;}

/* w3 selector a */

.hor-navbar {float: left;
            display: block;
            padding: 10px;
            background-color: #a8d7cd;
            }

.hor-navbar:hover {background-color: #97c4ba ;}




.recipe-box {border: 2px solid #e1d6d6;
            display: inline-block;
            padding: 12px 12px 12px 12px; 
            margin: 10px;
            text-align: center;
            }

.recipe-title {font-size:  1.2rem;  
}

/* It seems to me that the flexbox is useless here, if I'll delete the main selector below and the {} the display will not change... */

main {display: flex;
     flex-wrap: wrap
     }
