@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

:root {
  font-family: 'Fredoka';
}

html, body {
  height: 100%;
  width: 100%;
}

.logo-green {color: #126755;}