@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

:root {
  font-family: 'Fredoka', 'Tahoma';
}

html, body {
  height: 100%;
  width: 100%;
}

.mylogo {color: #126755;
         text-align: center;   
            }

/* navigation bar CSS: vertical and horizontal */
/* the ul selector relevant for both nav bars */

ul {list-style-type: none;
  margin: 0;
  padding: 0;}

/* Horizontal nav bar CSS */

nav li {float: left;}

nav a {display: block;
            padding: 10px;
            background-color: #a8d7cd;
            }

nav a:hover {background-color: #97c4ba ;}

/* Vertical nav bar CSS */
/*I need to understand how to position it well enough. right now, If the user zoom the page or playing with browser window size the side navigation bar will cover the recipe boxes */

aside {position: fixed;
       right: 2px;}
                

aside li a {display: block;
         width: 170px;
         padding: 10px;
         background-color: #a8d7cd;
            }

aside li a:hover {background-color: #97c4ba ;}


.recipe-box {border: 2px solid #e1d6d6;
            display: inline-block;
            padding: 12px 12px 12px 12px; 
            margin: 10px;
            text-align: center;
            }

.recipe-title {font-size:  1.2rem;  
}

/* It seems to me that the flexbox is useless here, if I'll delete the main selector below and the {} the display will not change... */

main {display: flex;
     flex-wrap: wrap; 
     }
